DATABASE_URL="prisma url here"
MONGODB_URL="mongodb url here"
PORT=5000

#FIREBASE VARIABLES
FIREBASE_APIKEY= "apiKey",
FIREBASE_AUTHDOMAIN="authDomain",
FIREBASE_PROJECTID="projectId",
FIREBASE_STORAGEBUCKET="storageBucket",
FIREBASE_MESSAGINGSENDERID="messagingSenderId",
FIREBASE_APPID= "appId",
FIREBASE_MESUREMENTID="measurementId"